#brandBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 7vw;
  margin: 80px 0;
}
@media (max-width: 640px) {
  #brandBar {
    flex-direction: column-reverse;
    gap: 16px;
    padding: 0 2.5vw;
    margin: 56px 0;
  }
}
#brandBar .copyright {
  font-size: 12px;
}
#brandBar .link-wrapper {
  display: flex;
  gap: 40px;
}
@media (max-width: 640px) {
  #brandBar .link-wrapper {
    flex-wrap: wrap;
    gap: 16px 40px;
    justify-content: center;
  }
}
#brandBar .link-wrapper a {
  color: #EBE6DD;
  text-decoration: underline;
  transition: all 0.2s;
}
#brandBar .link-wrapper a:hover {
  color: #D40000;
  transition: all 0.2s;
}