a.component-button {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: 48px;
  font-family: "Monaspace Krypton Var", "Zen Medium";
  font-weight: normal;
  line-height: 48px;
  padding: 0px 24px;
  border: 2px solid #EBE6DD;
  border-radius: 50px;
  margin: 0 auto;
  transition: 0.2s;
}
a.component-button:hover {
  background-color: rgba(235, 230, 221, 0.1);
  transition: 0.2s;
}