#contactForm .container h2.title span {
  font-size: 16px;
  line-height: 1.6em;
}

p.message {
  text-align: center;
}

form .formChunk {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
@media (max-width: 640px) {
  form .formChunk {
    flex-direction: column;
    gap: 0;
  }
}
form .formChunk label {
  display: block;
  min-width: 200px;
  width: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px 0;
}
@media (max-width: 640px) {
  form .formChunk label {
    width: 100%;
  }
}
form .formChunk label span.red {
  color: #D40000;
}
form .formChunk input, form .formChunk select, form .formChunk textarea {
  display: block;
  width: 440px;
  padding: 8px 16px;
  border: 2px solid rgba(235, 230, 221, 0.5);
}
@media (max-width: 640px) {
  form .formChunk input, form .formChunk select, form .formChunk textarea {
    width: 100%;
  }
}
form .formChunk .radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
form .formChunk input[type=radio] {
  display: none;
}
form .formChunk input[type=radio] + label {
  display: inline-block;
  min-width: unset;
  width: -moz-fit-content;
  width: fit-content;
  height: 48px;
  line-height: 42px;
  border: 2px solid rgba(235, 230, 221, 0.5);
  cursor: pointer;
  padding: 0px 24px;
  border-radius: 50px;
}
form .formChunk input[type=radio] + label:hover {
  border-color: #D40000;
}
form .formChunk input[type=radio]:checked + label {
  border-color: #D40000;
  background-color: rgba(212, 0, 0, 0.5);
}
form .formChunk textarea {
  height: calc(12.8em + 16px + 4px);
}
form .formChunk:has(input[type=checkbox]) {
  display: flex;
  min-width: unset;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  gap: 0;
}
form .formChunk:has(input[type=checkbox]) input[type=checkbox] {
  aspect-ratio: 1/1;
  width: 32px;
  padding: 0;
  margin-right: 10px;
  background-color: #141414;
  position: relative;
  cursor: pointer;
}
form .formChunk:has(input[type=checkbox]) input[type=checkbox]:hover {
  border-color: #D40000;
}
form .formChunk:has(input[type=checkbox]) input[type=checkbox]::before {
  content: "";
  display: block;
  width: 0em;
  height: 0em;
  transition: 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-color: #D40000;
}
form .formChunk:has(input[type=checkbox]) input[type=checkbox]:checked {
  border-color: #D40000;
  background-color: rgba(212, 0, 0, 0.5);
}
form .formChunk:has(input[type=checkbox]) input[type=checkbox]:checked::before {
  width: 1em;
  height: 1em;
  transition: 0.1s;
}
form .formChunk:has(input[type=checkbox]) label {
  line-height: 32px;
  min-width: unset;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  cursor: pointer;
}
form .formChunk button[type=submit].component-button {
  cursor: pointer;
}