@use "config/color"
@use "config/media"
@use "config/size"
@use "config/functions" as *

@font-face
  font-family: "Zen Medium"
  src: url("/fonts/ZenKakuGothicNew-Medium.ttf")

@font-face
  font-family: "Zen Black"
  src: url("/fonts/ZenKakuGothicNew-Black.ttf")

@font-face
  font-family: "Monaspace Krypton Var"
  font-weight: normal
  font-variations-settings: "wght" 500
  src: url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf")

@font-face
  font-family: "Monaspace Krypton Var"
  font-weight: lighter
  font-variations-settings: "wght" 300
  src: url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf")

*
  color: color.$text-primary
  font-family: "Zen Medium", sans-serif
  font-size: unit(2)
  line-height: 1.6em

  scroll-behavior: smooth
  scroll-padding-top: unit(25)

  @include media.tab
    scroll-padding-top: unit(15)

  @include media.sp
    scroll-padding-top: unit(8)

body
  background-color: color.$black

iframe
  aspect-ratio: 16 / 9
  width: 100%
  border: none

// container
.container
  width: size.$container-width
  max-width: size.$container-width
  margin: 0 auto
  margin-top: unit(32)

  @include media.tab
    width: 100%
    padding: 0 unit(2)
    margin-top: unit(25)

  h2.title
    font-family: "Monaspace Krypton Var"
    font-weight: normal
    font-size: unit(8)
    text-align: center
    @include media.sp
      font-size: unit(4)

    & + *
      margin-top: unit(7)
      @include media.sp
        margin-top: unit(5)

  h3
    font-family: "Monaspace Krypton Var", "Zen Black"
    font-weight: bold
    font-size: unit(4)
    @include media.sp
      font-size: unit(2.5)

    & + *
      margin-top: unit(5)
      @include media.sp
        margin-top: unit(4)

header
  .inside
    #brandBar
      position: absolute
      bottom: unit(5)
      margin: 0

.component-button
  display: block
  width: -moz-fit-content
  width: fit-content
  height: unit(6)
  font-family: "Monaspace Krypton Var", "Zen Medium"
  font-weight: normal
  line-height: unit(6)
  padding: 0 unit(3)
  border: unit(.25) solid color.$text-primary
  border-radius: unit(5)
  margin: 0 auto
  transition: 0.2s

  &:hover
    background-color: color.$overlay-light
    transition: 0.2s
