@use "config/color"
@use "config/media"

@font-face
  font-family: "Zen Medium"
  src: url("/fonts/ZenKakuGothicNew-Medium.ttf")

@font-face
  font-family: "Zen Black"
  src: url("/fonts/ZenKakuGothicNew-Black.ttf")

@font-face
  font-family: "Monaspace Krypton Var"
  font-weight: normal
  font-variations-settings: "wght" 500
  src: url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf")

@font-face
  font-family: "Monaspace Krypton Var"
  font-weight: lighter
  font-variations-settings: "wght" 300
  src: url("/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf")

*
  color: color.$white

  font-family: "Zen Medium", sans-serif
  font-size: 16px
  line-height: 1.6

  scroll-behavior: smooth
  scroll-padding-top: 200px

  @include media.tab
    scroll-padding-top: 120px

  @include media.sp
    scroll-padding-top: 80px

body
  background-color: color.$black

iframe
  aspect-ratio: 16 / 9
  width: 100%
  border: none

// container
.container
  width: 660px
  max-width: 660px
  margin: 0 auto
  margin-top: 256px

  @include media.tab
    width: 100%
    padding: 0 10px
    margin-top: 200px

  h2.title
    font-family: "Monaspace Krypton Var"
    font-weight: normal
    font-size: 64px
    text-align: center
    @include media.sp
      font-size: 32px

    & + *
      margin-top: 56px
      @include media.sp
        margin-top: 32px

  h3
    font-family: "Monaspace Krypton Var", "Zen Black"
    font-weight: bold
    font-size: 32px
    @include media.sp
      font-size: 24px

    & + *
      margin-top: 40px
      @include media.sp
        margin-top: 24px

header
  .inside
    #brandBar
      position: absolute
      bottom: 40px
      margin: 0

.component-button
  display: block
  width: -moz-fit-content
  width: fit-content
  height: 48px
  font-family: "Monaspace Krypton Var", "Zen Medium"
  font-weight: normal
  line-height: 48px
  padding: 0px 24px
  border: 2px solid #ebe6dd
  border-radius: 50px
  margin: 0 auto
  transition: 0.2s

  &:hover
    background-color: rgba(235, 230, 221, 0.1)
    transition: 0.2s
