#article-header a.back {
  position: fixed;
  top: 19px;
  left: 61px;
  padding: 10px 0px;
  font-size: 20px;
  font-family: "Monaspace Krypton Var";
  transition: 0.3s;
}
@media (max-width: 640px) {
  #article-header a.back {
    font-size: 16px;
    top: 14px;
    left: 28px;
  }
}
#article-header a.back::before {
  content: "";
  display: block;
  width: 0.6em;
  height: 0.8em;
  position: absolute;
  left: -1.2em;
  top: calc(0.31em + 10px);
  background-color: #EBE6DD;
  -webkit-mask-image: url("/public/images/carret-triangle.svg");
          mask-image: url("/public/images/carret-triangle.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  transform: rotate(180deg);
  transition: 0.3s;
}
#article-header a.back:hover {
  color: #D40000;
  transition: 0.3s;
}
#article-header a.back:hover::before {
  background-color: #D40000;
  transition: 0.3s;
}
@media (max-width: 640px) {
  #article-header .container {
    margin-top: 80px;
  }
}
#article-header .container h1 {
  font-family: "Monaspace Krypton Var";
  font-weight: normal;
  font-size: 64px;
}
@media (max-width: 640px) {
  #article-header .container h1 {
    font-size: 32px;
  }
}
#article-header .container img {
  aspect-ratio: 8/5;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 16px;
}

#about .container .text {
  text-align: center;
  margin-top: 16px;
}
#about .container .button-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
#about .container .button-wrapper .component-button {
  margin: 0;
}

#member .container .items-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  #member .container .items-wrapper {
    gap: 32px;
    margin-right: auto;
    margin-left: auto;
  }
}
#member .container .items-wrapper .item {
  width: 256px;
}
@media (max-width: 640px) {
  #member .container .items-wrapper .item {
    width: 100%;
  }
}
#member .container .items-wrapper .item .profile-image {
  width: 100%;
  aspect-ratio: 1/1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: 16px;
}
#member .container .items-wrapper .item h3.name {
  font-family: "Zen black";
  font-size: 18px;
  margin-top: 16px;
}
#member .container .items-wrapper .item .position {
  margin-top: 8px;
}
#member .container .items-wrapper .item .social-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
#member .container .items-wrapper .item .social-wrapper a {
  display: block;
  width: 48px;
  height: 48px;
  transition: 0.2s;
}
@media (max-width: 640px) {
  #member .container .items-wrapper .item .social-wrapper a {
    width: 40px;
    height: 40px;
  }
}
#member .container .items-wrapper .item .social-wrapper a:hover {
  background-color: rgba(235, 230, 221, 0.1);
  transition: 0.2s;
}
#member .container .items-wrapper #tusk .profile-image {
  background-image: url("/public/images/member/tusk.png");
}
#member .container .items-wrapper #dgdgdgdg .profile-image {
  background-image: url("/public/images/member/dgdgdgdg.png");
}

#brandBar {
  margin-top: 200px;
}