@use "config/color"
@use "config/media"
@use "config/size"
@use "config/functions" as *

#article-header
  a.back
    position: fixed
    top: unit(2)
    left: 61px

    padding: unit(2) 0

    font-size: unit(2.5)
    font-family: "Monaspace Krypton Var"

    transition: 0.3s
    @include media.sp
      font-size: unit(2)
      top: unit(1)
      left: unit(3.5)

    &::before
      content: ""
      display: block
      width: 0.6em
      height: 0.8em

      position: absolute
      left: -1.2em
      top: calc(0.31em + unit(2))

      background-color: color.$text-primary
      mask-image: url("/images/carret-triangle.svg")
      mask-size: contain
      mask-position: center
      mask-repeat: no-repeat

      transform: rotate(180deg)

      transition: 0.3s

    &:hover
      color: color.$text-accent
      transition: 0.3s

      &::before
        background-color: color.$text-accent
        transition: 0.3s

  .container
    @include media.sp
      margin-top: unit(7)
    h1
      font-family: "Monaspace Krypton Var"
      font-weight: normal
      font-size: unit(8)
      @include media.sp
        font-size: unit(4)
    .cover
      position: relative
      width: 100%
      &::before
        content: ""
        display: block
        padding-top: calc(5 / 8 * 100%)
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
        margin-top: unit(2)

#about .container
  .text
    text-align: center
    margin-top: unit(2)

  .button-wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: unit(2)

    margin-top: unit(5)

    .component-button
      margin: 0

#member .container .items-wrapper
  display: flex
  justify-content: space-between
  @include media.sp
    gap: unit(5)
    margin-right: auto
    margin-left: auto
  .item
    width: unit(32)
    @include media.sp
      width: 100%
    .profile-image
      width: 100%
      aspect-ratio: 1 / 1
      background-size: cover
      background-position: center
      background-repeat: no-repeat

      border-radius: 50%

      margin-top: unit(2)

    h3.name
      font-family: "Zen black"
      font-size: unit(2.5)
      margin-top: unit(2)

    .position
      margin-top: unit(1)

    .social-wrapper
      display: flex
      flex-wrap: wrap

      margin-top: unit(2)

      a
        display: block
        width: unit(6)
        height: unit(6)

        transition: 0.2s
        @include media.sp
          width: unit(6)
          height: unit(6)
        &:hover
          background-color: color.$overlay-light
          transition: 0.2s

  #tusk .profile-image
    background-image: url("/images/member/tusk.png")

  #shinshi .profile-image
    background-color: #24489d

  #dgdgdgdg .profile-image
    background-image: url("/images/member/dgdgdgdg.png")

#brandBar
  margin-top: unit(25)
