@use "config/color"
@use "config/media"
@use "config/size"
@use "config/functions" as *

.shape
  width: fit-content

  position: relative

  margin: 0 auto
  margin-top: size.$header-height-pc

  .bg-graphic
    width: 86vw
    height: calc(86vw / 2)

    background-image: url("/images/fv.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    mask-image: url("/images/triangle.svg")
    mask-size: cover
    mask-position: center
    mask-repeat: no-repeat

    @include media.sp
      width: 95vw
      height: 95vw

      mask-image: url("/images/square-diamond.svg")

  span.title
    width: fit-content
    position: absolute
    left: 0
    right: 0
    bottom: 0
    transform: translateY(50%)

    margin: auto

    @include media.sp
      width: 100%
      display: block
      margin: 0

    p.slogan
      text-align: right
      padding-right: unit(5)
      margin-bottom: calc(unit(5) * -1)

      @include media.tab
        padding-right: unit(4)
        margin-bottom: calc(unit(4) * -1)

      @include media.sp
        padding-right: 6vw
        margin-bottom: calc(unit(2) * -1)

    h1#logotype
      width: 582px
      aspect-ratio: 7 / 2

      mask-image: url("/images/logotype.svg")
      mask-size: contain
      mask-repeat: no-repeat
      mask-position: center

      background-color: color.$text-primary

      @include media.tab
        width: unit(50)

      @include media.sp
        display: block
        width: 100%

#about
  .overview .text
    text-align: center
    margin-top: unit(5)

    @include media.sp
      text-align: left

    br
      @include media.sp
        display: none

  .meaning
    .note
      text-align: center

      @include media.sp
        text-align: left

    .items-wrapper
      display: flex
      justify-content: space-between

      margin-top: unit(7)

      @include media.sp
        flex-direction: column
        gap: unit(5)
        padding: 0 unit(5)
        margin-top: unit(5)

      .item
        width: unit(37.5)
        @include media.sp
          width: 100%

        img
          display: block
          width: unit(25)
          height: unit(25)
          margin: 0 auto
          @include media.sp
            width: unit(16)
            height: unit(16)

        .caption
          margin-top: unit(5)
          @include media.sp
            margin-top: unit(2)

#project .items-wrapper
  display: flex
  justify-content: space-between
  @include media.sp
    width: fit-content
    flex-direction: column
    gap: unit(7)
    margin-right: auto
    margin-left: auto

  .item
    width: unit(32)
    transition: 0.2s

    &.soon h3.genre, &.soon .description
      opacity: 0.5

    .cover-image
      width: 100%
      aspect-ratio: 1 / 1
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      background-color: color.$black-darker

      margin-top: unit(2)

    .description, .partner, .more
      margin-top: unit(2)

    .more
      color: color.$text-accent
      display: inline-block
      position: relative
      &::after
        content: ""
        display: block
        width: 0.6em
        height: 0.8em

        position: absolute
        right: -1em
        top: 0.45em

        background-color: color.$text-accent
        mask-image: url("/images/carret-triangle.svg")
        mask-size: contain
        mask-position: center
        mask-repeat: no-repeat
      &:hover
        text-decoration: underline

  #radio .cover-image
    background-image: url("/images/radio-cover.png")

  #visual .cover-image
    // background-image: url("/images/xxx.png")

#endview
  margin-top: unit(37)
  @include media.tab
    margin-top: unit(25)
