@use "config/color"
@use "config/media"
@use "config/size"

.shape
  width: fit-content

  position: relative

  margin: 0 auto
  margin-top: size.$header-height-pc

  .bg-graphic
    width: 86vw
    height: calc(86vw / 2)

    background-image: url("/public/images/fv.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    mask-image: url("/public/images/triangle.svg")
    mask-size: cover
    mask-position: center
    mask-repeat: no-repeat

    @include media.sp
      width: 95vw
      height: 95vw

      mask-image: url("/public/images/square-diamond.svg")

  span.title
    width: fit-content
    position: absolute
    left: 0
    right: 0
    bottom: 0
    transform: translateY(50%)

    margin: auto

    @include media.sp
      width: 100%
      display: block
      margin: 0

    p.slogan
      text-align: right
      padding-right: 34px
      margin-bottom: -32px

      @include media.tab
        padding-right: 24px
        margin-bottom: -24px

      @include media.sp
        padding-right: 6vw
        margin-bottom: -16px

    h1#logotype
      width: 582px
      aspect-ratio: 7 / 2

      mask-image: url("/public/images/logotype.svg")
      mask-size: contain
      mask-repeat: no-repeat
      mask-position: center

      background-color: color.$white

      @include media.tab
        width: 400px

      @include media.sp
        display: block
        width: 100%

#about
  .overview .text
    text-align: center
    margin-top: 32px

    @include media.sp
      text-align: left

    br
      @include media.sp
        display: none

  .meaning
    .note
      text-align: center

      @include media.sp
        text-align: left

    .items-wrapper
      display: flex
      justify-content: space-between

      margin-top: 56px

      @include media.sp
        flex-direction: column
        gap: 40px
        padding: 0 32px
        margin-top: 48px

      .item
        width: 300px
        @include media.sp
          width: 100%

        img
          display: block
          width: 200px
          height: 200px
          margin: 0 auto
          @include media.sp
            width: 128px
            height: 128px

        .caption
          margin-top: 32px
          @include media.sp
            margin-top: 16px

#project .items-wrapper
  display: flex
  justify-content: space-between
  @include media.sp
    width: fit-content
    flex-direction: column
    gap: 56px
    margin-right: auto
    margin-left: auto

  .item
    width: 256px
    transition: 0.2s

    &.soon h3.genre, &.soon .description
      opacity: 0.5

    .cover-image
      width: 100%
      aspect-ratio: 1 / 1
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      background-color: color.$black-darker

      margin-top: 16px

    .description, .partner, .more
      margin-top: 16px

    .more
      color: color.$red
      display: inline-block
      position: relative
      &::after
        content: ""
        display: block
        width: 0.6em
        height: 0.8em

        position: absolute
        right: -1em
        top: 0.45em

        background-color: color.$red
        mask-image: url("/public/images/carret-triangle.svg")
        mask-size: contain
        mask-position: center
        mask-repeat: no-repeat
      &:hover
        text-decoration: underline

  #radio .cover-image
    background-image: url("/public/images/radio-cover.png")

  #visual .cover-image
    background-image: url("/public/images/visual-cover.png")

#endview
  margin-top: 296px
  @include media.tab
    margin-top: 200px
