---
const currentYear = new Date().getFullYear()
---

<div id="brandBar">
  <p class="copyright">&copy; 2024 - {currentYear} dgdgdgdg Solid Point</p>
  <div class="link-wrapper">
    <a href="https://dgdgdgdg.com" target="_blank" rel="noopener noreferrer"> dgdgdgdg </a>
    <a href="https://x.com/dg4_solid" target="_blank" rel="noopener noreferrer"> Official X </a>
    <a href="https://bsky.app/profile/solid.dgdgdgdg.com" target="_blank" rel="noopener noreferrer">
      Official Bluesky
    </a>
  </div>
</div>

<style lang="sass">
  @use "../styles/config/media"
  @use "../styles/config/functions" as *
  @use "../styles/config/color"

  #brandBar
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 0 7vw
    margin: unit(10) 0

    @include media.sp
      flex-direction: column-reverse
      gap: unit(2)
      padding: 0 2.5vw
      margin: unit(7) 0

    .copyright
      font-size: unit(1.5)

    .link-wrapper
      display: flex
      gap: unit(5)

      @include media.sp
        flex-wrap: wrap
        gap: unit(2) unit(5)
        justify-content: center

      a
        color: color.$white
        text-decoration: underline
        transition: all 0.2s

        &:hover
          color: color.$red
          transition: all 0.2s
</style>
