---
import BrandBar from "@/components/BrandBar.astro"
---

<header>
  <div class="outside">
    <a href="/#" class="logo js-outside-logo is-hidden" aria-label="トップページへ戻る"></a>
    <nav class="js-outside-nav">
      <a href="/#about">About</a>
      <a href="/#project">Project</a>
      <a href="/#contactForm">Contact</a>
    </nav>

    <div class="burger clickable js-menu-button" data-menu-button>
      <svg class="line">
        <rect class="js-menu-rect"></rect>
        <rect class="js-menu-rect"></rect>
        <rect class="js-menu-rect"></rect>
      </svg>
    </div>
  </div>

  <div class="inside js-menu" data-menu>
    <nav>
      <a href="/#about" class="js-menu-link">About</a>
      <a href="/#project" class="js-menu-link">Project</a>
      <a href="/#contactForm" class="js-menu-link">Contact</a>
    </nav>

    <BrandBar />
  </div>

  <div class="burger clickable" data-menu-button>
    <svg class="line">
      <rect></rect>
      <rect></rect>
      <rect></rect>
    </svg>
  </div>
</header>

<style lang="sass">
  @use "../styles/config/color"
  @use "../styles/config/size"
  @use "../styles/config/media"
  @use "../styles/config/functions" as *

  header
    width: 100%
    display: flex

    .outside
      width: 100%
      position: fixed
      display: flex
      justify-content: space-between
      align-items: center
      top: 0
      padding-left: unit(4)
      z-index: 1000

      @include media.sp
        padding-left: unit(2)

      .logo
        width: unit(25)
        height: unit(7)
        mask-image: url("/images/logotype.svg")
        mask-size: contain
        mask-repeat: no-repeat
        mask-position: center
        background-color: color.$text-primary
        opacity: 1
        visibility: visible
        transition: all 0.2s

        @include media.sp
          width: 150px
          height: 43px

        &:hover
          background-color: color.$text-accent
          transition: all 0.2s

        &.is-hidden
          opacity: 0
          visibility: hidden
          transition: all 0.2s

      nav
        opacity: 1
        transition: all 0.3s
        margin-left: auto

        &.is-open
          opacity: 0
          transition: all 0.3s

        @include media.sp
          display: none

        *
          font-family: "Monaspace Krypton Var"
          font-weight: lighter

        a
          color: color.$text-primary
          transition: all 0.2s
          padding: unit(2)

          &:hover
            color: color.$text-accent
            transition: all 0.2s

      .burger
        width: size.$header-height-pc
        height: size.$header-height-pc
        display: grid
        place-items: center

        @include media.sp
          width: size.$header-height-sp
          height: size.$header-height-sp
          margin-left: auto

        &:hover rect
          fill: color.$text-accent

        .line
          width: unit(4.375)
          height: unit(3.375)
          display: flex
          position: relative

          @include media.sp
            width: unit(3)
            height: unit(2.625)

        rect
          width: 100%
          height: unit(0.375)
          position: absolute
          fill: color.$text-primary
          transition: all 0.2s

          &:nth-of-type(1)
            y: 0

          &:nth-of-type(2)
            visibility: visible
            opacity: 1
            y: unit(1.5)

            @include media.sp
              y: unit(1)

            &.is-open
              visibility: hidden
              opacity: 0

          &:nth-of-type(3)
            y: unit(3)

            @include media.sp
              y: unit(2)

          &:nth-of-type(1).is-open, &:nth-of-type(3).is-open
            y: unit(1.5)

            @include media.sp
              y: unit(1)

    .inside
      position: fixed
      width: 100%
      height: 100dvh
      top: -100dvh
      padding-top: size.$header-height-pc
      background-color: color.$black-darker
      z-index: 999
      transition: all 0.5s

      @include media.sp
        padding-top: size.$header-height-sp

      &.is-open
        top: 0
        transition: all 0.5s

      nav
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: unit(5)
        transform: translateY(-112px)

        @include media.sp
          gap: unit(2)
          transform: translateY(-160px)

        *
          font-family: "Monaspace Krypton Var"
          font-weight: normal
          font-size: unit(8)

          @include media.sp
            font-size: unit(4)

        a
          color: color.$text-primary
          transition: all 0.2s

          &:hover
            color: color.$text-accent
            transition: all 0.2s
</style>

<script>
  const menuButton = document.querySelector(".js-menu-button")
  const menu = document.querySelector(".js-menu")
  const rects = document.querySelectorAll(".js-menu-rect")
  const outsideNav = document.querySelector(".js-outside-nav")
  const outsideLogo = document.querySelector(".js-outside-logo")
  const links = document.querySelectorAll(".js-menu-link")

  const closeMenu = () => {
    menu?.classList.remove("is-open")
    rects.forEach((rect) => rect.classList.remove("is-open"))
    outsideNav?.classList.remove("is-open")
    document.body.style.overflow = "unset"
  }

  if (menuButton instanceof HTMLElement && menu instanceof HTMLElement) {
    menuButton.addEventListener("click", () => {
      menu.classList.toggle("is-open")
      rects.forEach((rect) => rect.classList.toggle("is-open"))
      outsideNav?.classList.toggle("is-open")
      document.body.style.overflow = menu.classList.contains("is-open") ? "hidden" : "unset"
    })

    if (outsideLogo instanceof HTMLElement) outsideLogo.addEventListener("click", closeMenu)
    links.forEach((link) => link.addEventListener("click", closeMenu))
  }
</script>
