---
import BrandBar from '../../../components/BrandBar.astro';
// import Button from '../../../components/Button.astro';
import Form from '../../../components/Form.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="icon" href="/public/images/favicon.ico" />

    <meta property="og:title" content="Visual | dgdgdgdg Solid Point" />
    <meta property="og:site_name" content="dgdgdgdg Solid Point" />
    <meta property="og:url" content="https://solid.dgdgdgdg.com/project/visual" />
    <meta property="og:description" content="æƒ³åƒã®é–ƒããŒå®Ÿä½“ã‚’å¾—ã‚‹å‡å›ºç‚¹ Solid Point | dgdgdgdgã‚’å§‹ç‚¹ã¨ã™ã‚‹å…±ä½œãƒãƒ¼ãƒ ã€‚" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://solid.dgdgdgdg.com/public/images/visual-cover.png" />

    <title>Visual | dgdgdgdg Solid Point</title>

    <link rel="stylesheet" href="/src/styles/_reset.css" />
    <link rel="stylesheet" href="/src/styles/global.sass" />
    <link rel="stylesheet" href="/src/styles/project.sass" />
  </head>

  <body>
    <main>
      <section id="article-header">
        <a class="back" href="/">
          Back to Top
        </a>
        <div class="container">
          <h1>Visual ðŸŽ¨</h1>
          {/* <img src="/public/images/xxx.png" alt="" class="cover" /> */}
        </div>
      </section>

      <section id="member">
        <div class="container">
          <h2 class="title">Member</h2>
          <div class="items-wrapper">
            <div id="shinshi" class="item">
              <div class="profile-image" />
              <h3 class="name">ç´³å£«</h3>
              <p class="position">Illustrator</p>
              <div class="social-wrapper">
                <a href="https://x.com/@shinshi00" target="_blank" rel="noopener noreferrer">
                  <img src="/public/images/icon/x.svg" alt="" />
                </a>
              </div>
            </div>
            <div id="dgdgdgdg" class="item">
              <div class="profile-image" />
              <h3 class="name">dgdgdgdg</h3>
              <p class="position">Designer</p>
              <div class="social-wrapper">
                <a href="https://x.com/@dg4_design" target="_blank" rel="noopener noreferrer">
                  <img src="/public/images/icon/x.svg" alt="" />
                </a>
                <a href="https://misskey.design/@dg4_design" target="_blank" rel="noopener noreferrer">
                  <img src="/public/images/icon/misskey.svg" alt="" />
                </a>
                <a href="https://www.instagram.com/dg4_design" target="_blank" rel="noopener noreferrer">
                  <img src="/public/images/icon/instagram.svg" alt="" />
                </a>
                <a href="https://bsky.app/profile/dgdgdgdg.com" target="_blank" rel="noopener noreferrer">
                  <img src="/public/images/icon/bsky.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="contactForm">
        <div class="container">
          <h2 class="title">
            Contact<span> to Visual</span>
          </h2>
          <Form
            destination={{
              googleFormLink: "https://docs.google.com/forms/u/0/d/e/1FAIpQLSdz0BKKJw5EZX7y1YuT6gVZAoZLLBsN0soWC5mqdJyd3qogKQ/formResponse",
              inputNames: {
                name: "entry.183923869",
                email: "emailAddress",
                select: "entry.1363996325",
                textarea: "entry.1860530349"
              },
              autoCompletes: [
                {
                  name: "ä¾é ¼",
                  message: "ä¾é ¼å†…å®¹, è¶£æ—¨ãƒ»ç›®çš„, è¦æœ›ãªã©"
                },
                {
                  name: "ãã®ä»–"
                }
              ]
            }}
          />
        </div>
      </section>

      <BrandBar />
    </main>
  </body>
</html>
