@font-face
  font-family: "Zen Medium"
  src: url("/public/fonts/ZenKakuGothicNew-Medium.ttf")

@font-face
  font-family: "Zen Black"
  src: url("/public/fonts/ZenKakuGothicNew-Black.ttf")

@font-face
  font-family: "Monaspace Krypton Var"
  weight: normal
  font-variations-settings: "wght" 500
  src: url("/public/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf")

@font-face
  font-family: "Monaspace Krypton Var"
  weight: lighter
  font-variations-settings: "wght" 300
  src: url("/public/fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].ttf")

*
  color: $white

  font-family: "Zen Medium", sans-serif
  font-size: 16px
  line-height: 1.6

  scroll-behavior: smooth
  scroll-padding-top: 200px

  @include tab
    scroll-padding-top: 120px

  @include sp
    scroll-padding-top: 80px

body
  background-color: $black

// container
.container
  width: 660px
  max-width: 660px
  margin: 0 auto
  margin-top: 296px

  @include tab
    width: 100%
    padding: 0 10px
    margin-top: 200px
